[Desktop Entry]
Version=1.0
Type=Application
Name=Ultimate Doom Builder
Comment=Comprehensive map editor for Doom, Heretic, Hexen and Strife based games
Exec=start-ultimatedoombuilder.sh
Icon=io.github.ultimatedoombuilder.ultimatedoombuilder
Terminal=false
Categories=Development;
