name: Build Flatpak

on:
  push:
    branches:
      - master
      - flatpak-action
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  flatpak:
    name: "Build Flatpak"
    runs-on: ubuntu-latest
    permissions:
      contents: write
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:freedesktop-24.08
      options: --privileged

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0 # Required to properly get the commit count

      - name: Get Revision Count
        id: vars
        run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
          COUNT=$(git rev-list --count HEAD)
          echo "REV_COUNT=$COUNT" >> $GITHUB_ENV
          echo "Detected Revision: $COUNT"     

      - name: Build Flatpak
        uses: flatpak/flatpak-github-actions/flatpak-builder@v6
        with:
          bundle: ultimatedoombuilder-latest.flatpak
          manifest-path: flatpak/io.github.ultimatedoombuilder.ultimatedoombuilder.yml # Update this path if different
          run-tests: false
          cache: true
          restore-cache: true
          cache-key: flatpak-builder-${{ hashFiles('flatpak/io.github.ultimatedoombuilder.ultimatedoombuilder.yml') }}          
          upload-artifact: false

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: UltimateDoomBuilder-Flatpak
          path: ultimatedoombuilder-latest.flatpak
          if-no-files-found: error
          retention-days: 7

      - name: Create Release
        uses: softprops/action-gh-release@v2
        if: github.ref == 'refs/heads/master'
        with:
          tag_name: latest
          name: "Build R${{ env.REV_COUNT }}"
          files: ultimatedoombuilder-latest.flatpak
          body: "Automated Flatpak build for Ultimate Doom Builder R${{ env.REV_COUNT }}."
          prerelease: true
          make_latest: true
          overwrite_files: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}          